<input type="hidden" #selection>

<h3>Historic daily high/low {{ this.selectedCurrencyId.id }} vs {{ this.selectedCurrencyStandardId }}</h3>

<figure id="chart"></figure>

<ol>
  <li>Select a cryptocurrency to display historic daily high/average/low data
  <div class="chart-button-container">
    <button class="chart-button" tabindex="0" *ngFor="let coin of this.coins" (click)="onSelectCoin(coin.id)" [class.chart-button-selected]="coin.active == true">
      <span>{{ coin.id }}</span>
    </button>
  </div>

  <li>Choose a currency as a standard for valuation
  <div class="chart-button-container">
    <button class="chart-button" tabindex="0" *ngFor="let standard of this.coinStandards" (click)="onSelectStandard(standard)" [class.chart-button-selected]="this.selectedCurrencyStandardId == standard">
      <span>{{ standard }}</span>
    </button>
  </div>

  <li>Choose how far back to see
  <div class="chart-button-container">
    <button class="chart-button" tabindex="0">
      <span>[TODO]</span>
    </button>
  </div>

  <li>Adjust the color of the chart lines
  <div class="chart-button-container">
    <button class="chart-button" tabindex="0" *ngFor="let color of this.colors" (click)="onSelectColor(color)" [ngStyle]="{
       'background-color': color.asString,
       'color': 'black' }">
      <span>{{ color.descriptor }}</span>
    </button>
  </div>

  <li>Toggle chart line smoothing
  <div class="chart-button-container">
    <button class="chart-button" tabindex="0" (click)="onSmoothLinesToggle()" [class.chart-button-selected]="linesSmooth == true">
      <span>Smooth Lines</span>
    </button>
  </div>
</ol>
