html {
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(15, 15, 16);
}

h2 {
    font-weight: normal;
    font-size: x-large;
}
h3 {
    font-weight: normal;
    font-size: x-large;
    margin: 0px 0px 8px 0px;
}

p {
  margin: 0;
  color: rgb(60, 180, 140);
}

ol {
	margin: 0px;
	padding: 0px;
  color: rgb(60, 180, 140);
	counter-reset: item;
}
ol li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	counter-increment: item;
}
ol li:before {
	margin: 0px;
	padding: 0px;
  color: rgb(85, 215, 170);
	content:counter(item) ". ";
	font-weight: bold;
}

a,
a:visited,
a:hover {
  color: #acacac;
  text-decoration: none;
}

a:hover {
  color: #cccdcf;
}

button {
  border-radius: 4px;
  border: 1px solid rgb(128, 128, 128);
  background-color: #080808;
  color: grey;
  margin: 0 2px 0 2px;
  padding: 16px;
  line-height: 20px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 100px;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: rgb(22, 20, 19);
  color: rgb(60, 180, 140);
  font-weight: 600;
  border-bottom: solid 1px rgb(15, 15, 15);
}

.toolbar img {
  margin: 0 16px;
}

.content {
  display: flex;
  margin: 64px auto 32px;
  padding: 0 16px;
  max-width: 1080px;
  flex-direction: column;
  align-items: center;
}

.output {
  position: relative;
  width: 80%;
  max-width: 1080px;
  text-align: top;
  margin-top: 30px;
}

#chart {
  margin-left: 5px;
}

/* d3 only seems to support referencing the base styles file (ignoring component styles), so we have to put this here
Could use /deep/ et al., but that's depreciated and it's future browser support is looking patchy */
.chart-point {
  r: 15px;
  fill-opacity: 0;
  transition: all 0.2s ease-in-out;
}
.chart-point:hover {
  r: 16px;
  fill-opacity: 0.5;
  transition: all 0.2s ease-in-out;
}
